*
{
    padding:0;
    margin:0;
}


.title
{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.view
{
    margin:0.8rem;
    font-size: 3rem;
}

.clock-container
{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

button
{
    border:none;
    background: none;
    cursor: pointer;
}

.btn
{
    margin:1rem;
}

.decrease
{
    font-size: 3rem;
}

.increase
{
    font-size: 3rem;
}

.timer-start
{
    font-size: 5rem;
}