*
{
    padding:0;
    margin: 0;
}

body
{
    overflow: hidden;
}

.container
{
    min-width:100vh;
    height:90vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container
{
    min-width:35%;
    min-height: 20vh;
    background: linear-gradient(#7474BF,#348AC7);
    box-shadow: 0 5px 10px grey;
    border-radius: 20px;
}

.view-time
{
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    bottom:30px;
}

.view
{
    font-size: 4vh;
    margin: 25px;
    color:#ffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 10px 4px #4444;
}

.view-dot
{
    font-size:8vh;
}

.start-btn
{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left:10px;
    bottom:20px;
    cursor: pointer;
}

.start
{
    min-width:3.5vh;
    padding:1px 13px;
    font-size: 2.5rem;
    background-color: #ffff;
    border-radius: 100%;
    box-shadow: 0 3px 10px grey;
} 

.start i
{
    background: linear-gradient(#7474BF,#348AC7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title
{
    position: relative;
    text-align: center;
    font-size: 2.5vh;
    color:#373737;
    top:10vh;
}

#pop-up
{
    width:25vh;
    height:8vh;
    border-radius: 10px;
    position: absolute;
    top:90vh;
    right:5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popUp
{
    background-color: #444444;
    /* transform: translateX(-2em); */
    animation-duration: 0.8s;
    animation-name: fadein0;
    transition: 0.8s ease;
    /* animation-iteration-count: infinite; */
}

.newpopUp
{
    /* display: none; */
    background-color: red;
    /* transform: translateX(-2em); */
    animation-duration: 0.8s ;
    animation-name: fadein1;
    transition: 0.8s ease;
    /* animation-iteration-count: infinite; */

}

@keyframes fadein0
{
    from
    {
        transform: translateX(20em);
    }
    to
    {
        transform: translateX(-0.1vh);
    }
}
@keyframes fadein1
{
    from
    {
        transform: translateX(20em);
    }
    to
    {
        transform: translateX(-0.1vh);
    }
}


.pop-up-text
{
    text-align: center;
    color: #fff;
    font-weight: 15;
    font-size: 2vh;
}

.fa-bell
{
    color:#fff;
}


