*
{
    padding:0;
    margin:0;
}


.title
{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.view
{
    margin:1.2rem;
    padding:0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 5rem;
    cursor: pointer;
    color:#ffff;
    /* background-color: black; */
    font-weight: bold;
}

.clock-container
{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    min-width: 50vh;
    display: flex;
    padding-right: 3rem;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#6cc1b6,#438698);
    border-radius: 2vh;
    box-shadow: 0 5px 10px grey;
}

.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

button
{
    border:none;
    background: none;
    cursor: pointer;
}

.btn
{
    margin:1rem;
}

.decrease
{
    font-size: 3rem;
}

.increase
{
    font-size: 3rem;
}

.start
{
    min-width: 50vh;
    /* margin:1vh; */
    margin:0;
    /* position: relative;
    top:4vh; */
    /* align-items: center; */

}
.timer-start
{
    font-size: 1.5rem;
    background-color: #ffff;;
    padding-left:0.7rem;
    padding-right:0.7rem;
    padding-top:0.2rem;
    border-radius: 100%;
    box-shadow: 0 2px 7px grey;
}
.timer-btn
{
   background: linear-gradient(#6cc1b6,#438698);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}